<!DOCTYPE html>
<html>
  <head>
    <title>Scholarships Portal</title>
    <% include partials/bootstrap.ejs %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="../public/javascripts/scripts.js"></script>
  </head>
  <body>
    <% include partials/header.ejs %>
    <div class="row text-center bg">
      <div class="col-sm-12 col-lg-6 mt-200 p-5">
        <h1>
          If you need Scholarships.<br />
          You are on the Right Place!
        </h1>
      </div>
      <div class="col-sm-12 col-lg-6 mt-200 p-5">
        <h1>If you want to get Scholarships only you are Eligible for.</h1>
        <a href="/users/register">
          <button type="button" class="btn btn-primary btn-lg mt-3">
            Register Here!
          </button></a
        >
      </div>
    </div>
  </body>
</html>
