body {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.text-blue {
  color: blue;
}

.bg {
  background-image: url("../images/bg.jpg");

  height: 545px;


  /* background-position: center center; */

  
  background-repeat: no-repeat;


  /* background-attachment: fixed; */

  background-size: cover;

  
  /* background-color: green;
  overflow: hidden; */
}

.mt-200{
  margin-top: 200px;
}