body {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.text-blue {
  color: blue;
}

.bg {
  background-color: #808080;
  color: aliceblue;
  /* background-image: url("../images/bg.jpg");

  height: 545px;


  /* background-position: center center; */

  
  /* background-repeat: no-repeat; */


  /* background-attachment: fixed; */

  /* background-size: cover; */

  
  /* background-color: green;
  overflow: hidden; */ 
}

.mt-home{
  margin-top: 150px;
}

@media only screen and (max-width: 600px) {
  .mt-home {
    margin-top: 0px;
  }
}